
@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSlab-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSlab-ExtendedHeavyItalic.ttf') format('truetype');
}
